<article class="post">
    <div class="post-title">
      <h2 class="post-title"><%= page.title %></h2>
    </div>
     <div class="post-meta">
      <span class="post-meta-item-text"><%- config.author %></span>
      <span class="post-meta-item-text"><%- date(page.date, "YYYY-MM-DD") %></span>
    </div>
    <div class="post-content">
      <%- page.content %>
    </div>
</article>
<%- partial('_partial/gallery') %>